<h3>STUDENT OVERVIEW FORM</h3>
<table cellpadding="10">

  <!----- First Name ---------------------------------------------------------->
  <tr>
    <td>FIRST NAME</td>
    <td>
      {{student.firstName}}

    </td>
  </tr>

  <!----- Last Name ---------------------------------------------------------->
  <tr>
    <td>LAST NAME</td>
    <td>
      {{student.lastName}}

    </td>
  </tr>

  <!----- Date Of Birth -------------------------------------------------------->
  <tr>
    <td>DATE OF BIRTH</td>

    <td>
     {{student.dob}}
    </td>
  </tr>

  <!----- Email Id ---------------------------------------------------------->
  <tr>
    <td>EMAIL ID</td>
    <td>
     {{student.emailID}}
    </td>
  </tr>

  <!----- Mobile Number ---------------------------------------------------------->
  <tr>
    <td>MOBILE NUMBER</td>
    <td>
   {{student.mobileNo}}

    </td>
  </tr>

  <!----- Gender ----------------------------------------------------------->
  <tr>
    <td>GENDER</td>
    <td>
    {{student.gender}}
    </td>
  </tr>

  <!----- Address ---------------------------------------------------------->
  <tr>
    <td>ADDRESS <br /><br /><br /></td>
    <td>{{student.Address}}</td>
  </tr>
</table>
